body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 3.125rem;
    font-weight: bold;
    margin-left: 6.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.titulo-div{
    display: flex;
    justify-content: space-between;
}

.lupa {
    background-image: linear-gradient(#32D915, #28A911);
    align-self: center;
    width: 50px;
    height: 50px;
    padding-left: 1.125rem;
    padding-top: 0.8rem;
    border-radius: 0.75rem;
}

.navbar-links {
    display: flex;
    background: blue;
    padding-top: 0.6rem;
}

.navbar-links-label {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

.navbar-links-label p{
    color: white;
    font-size: 1rem;
    margin-left: 1.25rem;
    font-weight: bold;
    margin-top: 0.3rem;
}


.titulo {
    font-size: 2.5rem;
    color: blue;
    font-weight: bold;
    margin-top: 1.25rem;
    margin-left: 6.25rem;
}

.descricao {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 100px;
    font-family: 'Roboto', sans-serif;
}

.botoes-chaves {
    display: flex;
    padding-left: 1.25rem;
    justify-content: center;
    margin-bottom: 3.75rem;
}

.botao-manual-navegacao {
    background-image: linear-gradient(#1AB9E8, #1566C1);
    color: white;
    height: 100px;
    width: 220px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 2.5rem;
}

.botao-perguntas-frequentes {
    background-image: linear-gradient(#F4FB15, #CBBB18);
    color: black;
    height: 100px;
    width: 220px;
    text-align: center;
    margin-left: 1.25rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 2.5rem;
}

.text-descricao {
    max-width: 2000px;
}

#botoes {
    display: flex;
    font-size: 2rem;
    margin: 1.875rem 12.5rem 0rem 6.25rem;
}

#botoes-links {
    margin-right: 1.25rem;
    border-style: groove;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    text-decoration: none;
    color: black;
}